

/*////////////////////////////////////// HEAD //////////////////////////////////////*/

#body
{
	background-color: black;
	overflow: hidden;
}

#conteneur
{
	display: flex;
	flex-direction: row;
	width: 120%;
}

#logo
{
	margin-top: -2px;;
	margin-left: 2%;
	width: 50px;
	height: 25px;
}

#conteneur p
{
	color: red;
}

.lis
{
	border: 0.5px solid white;
	background-color: #1C1C1C;
	margin-left: -1px;
	margin-right: 1px;
	border-left: none;
	border-right: none;
	color: white;
}

.list
{
	border-top: none;
	border-bottom: 0.5px solid white;
	color: white;
}

.liste
{
	border-bottom: none;
	border-top: 0.5px solid white;
	color: white;
}

.lis a
{
	color: white;
}

.liste
{
	color: white;
}

.list
{
	color: white;
}

.der:hover ul
{
	display: inline;
	background-color: #1C1C1C;
}

.dropdown ul 
{
	display: none;
	color: white;
}


/*////////////////////////////////////// HTML //////////////////////////////////////*/



.container
{
	height: 60%;	
}

.carousel .item 
{	
  	height: 100%;
}


#sizeimcar1
{
	width: 100%;
	height: 100%;
}

#sizeimcar2
{
	width: 100%;
	height: 100%;
}

#sizeimcar3
{
	width: 100%;
	height: 100%;
}


#carouselButtons 
{
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}

#exemple-diaporama
{
	border: 1px solid blue;
	margin-top: 14%;
}

.panel panel-default
{
	background-color: white;
}

#lol
{
	margin-top: 4%;
	padding-bottom: 6%;
	border-bottom: 1px solid blue;  
	border-top: 1px solid blue;
	color: #FFE4B5;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #1C1C1C;
}

#txtpres
{
	font-size: 23px;
	margin-top: 1.5%;
	margin-left: 43%;
	color: blue;
	text-decoration: underline overline;
}

#lol2
{
	margin-top: 100%;
	padding-top: -15%;
	padding-bottom: 8%;
	border-bottom: 1px solid red;  
	border-top: 1px solid red; 
	color: #FFE4B5;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #1C1C1C;
}

#lol2 #tex
{
	margin-left: 47%;
}

#txtgal
{
	font-size: 23px;
	margin-left: 46%;
	margin-top: 1.5%;
	color: red;
	text-decoration: underline overline;
}

#lol3
{
	margin-top: 200%;
	padding-top: 2%;
	padding-bottom: 7%;
	border-bottom: 1px solid #B8860B;  
	color: #FFE4B5;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #1C1C1C;
}

#lol3 p
{
	margin-left: 47%;
}

#txtvid
{
	font-size: 23px;
	color: #B8860B;
	padding-top: 5px;
	text-decoration: underline overline;
}

#lol4
{
	margin-top: 330%;
	padding-bottom: 9%;
	border-bottom: 1px solid green;  
	color: #FFE4B5;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #1C1C1C;
}

#lol4 p
{
	margin-left: 47%;
	padding-top: 10px;
}

#txtform
{
	font-size: 23px;
	margin-top: 1.5%;
	color: green;
	text-decoration: underline overline;
}

.txtformu
{
	color: green;
}

#lol5
{
	margin-top: 430%;
	padding-bottom: 7%;
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;  
	color: #FFE4B5;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #1C1C1C;
}

#txtcont
{
	font-size: 23px;
	color: purple;
	margin-top: 0.2%;
	text-decoration: underline overline;
}

#lol5 p
{
	margin-left: 47%;
	padding-top: 10px;
}

.thumbnail
{
	margin-top: 2.5%;
	background-color: black !important;
	width: 70%;
	border: 2px solid red !important;
}

.thumbnail img
{
	height: 400px;
	width: 300px;
	border: 3px solid #1C1C1C;
}

.col-sm-10
{
	display: flex;
	margin-left: 8%;
	flex-direction: row;
	margin-top: 3%;	
}

.cadre
{
	background-color: black;
	display: flex;
	flex-direction: column;
}

.cadre p
{
	margin-left: 2.5%;
}

.navbar .navbar-default .navbar-fixed-top .navbar.navbar-inverse
{
	position: fixed;
}

h3
{
	color: gold;
	text-align: center;
}

.bou
{
	margin-left: 30%;
	margin-top: 20%;
}

.bout
{
	margin-left: 30%;
	margin-top: 20%;
}

.bouto
{
	margin-left: 30%;
	margin-top: 20%;
}

.bo
{
	margin-top: 20%;
}

video
{
	border: 2px solid #D0A000;
	height: 400px;
}

.media
{
	padding-top: 5%;
}

.media-body
{
	border: 1px solid #FFE4B5;
	background-color: black;
}

.media-middle
{
	margin-left: 10%;
}

.media-heading
{
	text-align: center;
	padding-top: 20px;
}

.a
{
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	background-color: #500010;
	margin-left: 35%;
	margin-right: 35%;
	border: 1px solid #fbeed5;
	color: #FFE4B5;
}

#watch
{
	background-color: white;
	border: 1px solid black;
	color: black;
}

.coulvid
{
	border: 1px solid #B8860B;
}

#underlineR8
{
	text-decoration: underline;
	color: #B8860B;
}

#ogo
{
	background-color: white;
	border: 1px solid black;
	color: black;
}

#bouton
{
	background-color: #000060;
	border: 1px solid white;
	position: absolute;
	margin-left: 48%;
	margin-top: 15%;
}

#link
{
	color: white;
}

.formu
{
	margin-left: 20%;
	margin-top: 4.5%;
	margin-right: 20%;
}

#help
{
	margin-top: -1%;
	margin-right: -20%;
	color: green;
}

.hey
{
	margin-left: 40%;
	padding-top: 2%;
}

#b
{
	margin-left: 45%;
}

#lab p
{
	margin-left: 20%;
}

.table
{
	width: 100%;
	max-width: 100%;
	text-align: center;
}

.table-inverse
{
	color: white;
	background-color: green;
}

.table-striped tbody tr:nth-of-type(odd)
{
	background-color: rgba(0, 0, 0, .05);
}

.strg
{
	color: white;
	text-decoration: underline;
}

.toright
{
	font-style: italic;
}

#al
{
	border: 1px solid purple;
	background-color: #1C1C1C;
}

#tab
{
	margin-top: 4%;
	margin-right: 15%;
	margin-left: 20%;
	border: 1px solid purple;
	text-align: center;
	background-color: transparent;
}

#how
{
	text-align: center;
	font-size: 100%;
	border: 1px solid purple;
	background-color: black;
	color: white;
}

.about
{
	text-align: center;
	border-bottom: 1px solid purple;
}

.bord
{
	border: 1px solid purple;
	border-top: 1px solid purple;
}

table
{
	border: 1px solid purple;
	background-color: black;
	text-align: center;
}

thead
{
	border: 1px solid purple;
	border-bottom: 1px solid purple;
	text-align: right;
	background-color: black;
}

.toright
{
	text-align: center;
}

th
{
	background-color: black;
	text-align: center;
}

td
{
	text-align: center;
	background-color: black;
}

#end
{
	color: black;
}

